body {
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
    font-size: 22px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    padding: 10px 0;
    background-color: rgb(221, 103, 82);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    width: 120px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-link {
    font-size: 24px;
    font-weight: 700;
    color: aliceblue;
}

.header-link:hover {
    font-weight: 900;
    color: beige;
}

.hero {
    padding: 50px 0;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-img {
    width: 550px;
    margin-right: 50px;
}

.hero-title {
    font-size: 48px;
    color: rgb(113, 27, 12);
}

.dough {
    padding: 50px 0;
    background-color: rgb(255, 167, 123);
}

.dough-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dough-title {
    color: rgb(113, 27, 12);
}

.dough-img {
    width: 550px;
    margin-left: 50px;
}

.dough-list {
    margin-left: 50px;
    list-style: disc;
}

.dough-item {
    font-size: 22px;
    font-style: oblique;
}

.filling {
    padding: 50px 0;
}

.filling-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filling-img {
    width: 550px;
    margin-right: 50px;
}

.filling-title {
    color: rgb(113, 27, 12);
}

.filling-list {
    margin-left: 50px;
    list-style: disc;
}

.filling-text {
    margin-top: 20px;
    font-size: 22px;
}

.footer {
    padding: 10px 0;
    background-color: rgb(221, 103, 82);
}

.footer-text {
    color: rgb(255, 247, 245);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-image {
    width: 100px;
    padding-left: 10px;
}